/*: -------------------------- common shared styles -------------------------- */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Lato", sans-serif;
}

.primary-btn {
	padding: 20px 43px;
	border: 0;
	border-radius: 8px;
	background-color: #e55473;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
}

.primary-color {
	color: #E55473;
}

.section-title {
	color: #272727;
	font-size: 40px;
	font-weight: 800;
}

.section-description {
	color: rgba(39, 39, 39, 0.6);
	font-size: 18px;
	font-weight: 400;
}

/*: ------------------------- header related style ------------------------- */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(229, 84, 115, 0.1);
	height: 850px;
	margin: 0 auto;
	padding: 0 150px 0;
}

.header-content {
	width: 50%;
}

.header-image {
	background-size: cover;
	margin-top: 50px;
}

.header-title {
	color: #272727;
	font-size: 60px;
	font-weight: 800;
	margin-bottom: 0;
}

.header-description {
	margin: 32px 0;
}


/*: -------------------------- Our Featured Flowers -------------------------- */
.feature-flower-title {
	text-align: center;
	margin-top: 178px;
	margin-bottom: 24px;
}

.feature-flower-description {
	text-align: center;
	line-height: 30px;
	margin-bottom: 48px;
}

.feature-flower-container {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	margin: 0 auto;
	max-width: 1140px;
}

.feature-flower-item {
	width: 348px;
	height: 404px;
	border-radius: 300px 300px 0px 0px;

}

.feature-flower-1 {
	background-color: rgba(167, 33, 98, 0.15);
	background-image: url('../Flower-Asset/pngwing-6.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.feature-flower-2 {
	background: rgba(5, 151, 160, 0.15);
	background-image: url('../Flower-Asset/pngwing-5.png');
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.feature-flower-3 {
	background: rgba(71, 125, 17, 0.15);
	background-image: url('../Flower-Asset/pngwing-7.png');
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.feature-flower-caption {
	margin-top: 32px;
	color: #272727;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	text-decoration-line: underline;
}

/*: ---------------------------- hot deal section ---------------------------- */
.hot-deal-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 8px;
	background-color: rgba(229, 84, 115, 0.05);
	margin: 128px 0;
	padding: 100px 0;
}

.hot-deal-content {
	text-align: center;
}

.hot-deal-title {
	margin-bottom: 24px;
}

.hot-deal-description {
	margin-bottom: 32px;
}

/*: ---------------------------- Instagram section --------------------------- */
.instagram-container {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	margin: 0 auto 128px;
	max-width: 1140px;
}

.instagram-container img {
	width: 20%;
}

.instagram-title {
	text-align: center;
}

.instagram-description {
	text-align: center;
	margin: 24px 0 48px;
}

/*: ---------------------- Get The Latest Deals Section ---------------------- */
.latest-deals-parent {
	max-width: 1140px;
	margin: 0 auto 128px;
}

.latest-deals-container {
	padding: 120px 0;
	border-radius: 8px;
	background-image: url('../Flower-Asset/Rectangle-9.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.latest-deals-content {
	text-align: center;
}

.latest-deals-description {
	margin: 16px 0 48px;
}

.subscribe-input {
	padding: 22px;
	border: 0;
	width: 50%;
	margin-right: 16px;
}